
obj/Debug/netcoreapp2.2/SvenskaInstruktioner.assets.cache
obj/Debug/netcoreapp2.2/SvenskaInstruktioner.csprojAssemblyReference.cache
obj/project.assets.json
obj/SvenskaInstruktioner.csproj.nuget.cache
obj/SvenskaInstruktioner.csproj.nuget.g.props
obj/SvenskaInstruktioner.csproj.nuget.g.targets
